#hide{
    width: 400px;
    height: 200px;
    background: black;
    border-radius: 10px;
    color: floralwhite;
}
.hiddenForm {

    visibility: hidden;

}
input, button {
    border-radius: 10px;
}