body{
    /*background-image: url("../img/loading.gif");*/
    /*background-size: 300px 200px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
background: black;
}

#hide{
    width: 400px;
    height: 200px;
    background: black;
    border-radius: 10px;
    color: floralwhite;
}
.hiddenForm {

    visibility: hidden;

}
input, button {
    border-radius: 5px;
    background: black;
    color: floralwhite;
}
#movies img {
    height: 300px;
    width: 200px;
}
nav {
    background: #1AE883;
    border-radius: 5px;
    border-bottom: 3px solid black;
}

#movies {
    color: floralwhite;
}